html, body, div, form {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: Avenir;
	font-weight: 100;
	font-style: normal;
	font-size: 16px;
}
div {
	display: inline-block;
}
div.page {
	width: 100%;
}
a:link, a:active, a:hover, a:visited {
	color: inherit;
	font-style: normal;
	text-decoration: none;
}
.cf:before,
.cf:after {
		content: " ";
		display: table;
}

.cf:after {
		clear: both;
}
div.nav {
	background-color: #000;
	color: #FFF;
	width: 100%;
	display: block;
	text-align: center;
	height: auto;
}
div.nav ul {
	list-style-type: none;
	margin: 0px auto;
	border: 0px;
	padding: 0px;
	top: 0px;
}
div.nav ul li {
	display: inline-block;
	padding: 10px 20px;
}
div.nav ul li:hover {
	background-color: #0591ff;
}
div.userinfo {
	display: block;
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px 0px;
	overflow: hidden;
}
div.userinfo a.logout {
	background-color: #F00;
	padding: 10px 20px;
	margin: 0px;
}
div.userinfo a.login {
	background-color: #0591ff;
	padding: 10px 20px;
	margin: 0px;
}
div.message span.title {
	color: #000;
}
div.message span.body {
	color: #888;
	font-size: 12px;
}
input {
	padding: 10px 20px;
	font-size: 12px;
	width: 260px;
}
button {
	padding: 10px 20px;
	font-size: 14px;
	background-color: #0591ff;
	background-image: none;
	border: 0px none;
	color: #FFF;
}

de-notification {
	display: inline-block;
	position: fixed;
	right: 0px;
	top: 0px;
	margin: 60px 0px;
}
div.loginWindow {
	border: 1px solid #d5d5d5;
	margin: 100px auto;
	width: 380px;
	display: block;
	text-align: center;
	padding: 20px 0px;
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
}
div.logo {
	height: 80px;
	line-height: 80px;
	background-image: url("../images/logo.jpg");
	background-size: 80px 80px;
	background-repeat: no-repeat;
	margin: 10px;
	padding-left: 100px;
	padding-bottom: 40px;
	font-size: 20px;
}









/* when hiding the thing */
.ng-hide-add         { 
  -webkit-animation:0.5s lightSpeedOut ease; 
  animation:0.5s lightSpeedOut ease; 
}

/* when showing the thing */
.ng-hide-remove      { 
  -webkit-animation:0.5s flipInX ease; 
  animation:0.5s flipInX ease; 
}

/* ANIMATIONS (FROM ANIMATE.CSS) */

/* flip in */
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}