html, body {
	background-color: #b5ecee;
}
html, body, div, form, ul, pre {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: Avenir;
	font-weight: 100;
	font-style: normal;
	font-size: 16px;
	text-align: left;
}
div {
	display: inline-block;
}
ul, li {
	list-style-type: none;
}
div.page {
	width: 100%;
}
a:link, a:active, a:hover, a:visited {
	color: inherit;
	font-style: normal;
	text-decoration: none;
}
.cf:before,
.cf:after {
		content: " ";
		display: table;
}

.cf:after {
		clear: both;
}
.error {
	color: #F00;
	font-size: 12px;
}
main {
	width: 100%;
	 max-width: 1000px;
	 min-width: 600px;
	 margin: 0px auto;
	background-color: #b5ecee;
}
div.nav {
	background-color: #ae72ab;
	color: #FFF;
	width: 100%;
	display: block;
	text-align: center;
	height: auto;
}
div.nav ul {
	list-style-type: none;
	margin: 0px auto;
	border: 0px;
	padding: 0px;
	top: 0px;
}
div.nav ul li {
	display: inline-block;
	padding: 10px 20px;
}
div.nav ul li:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
div.userinfo {
	display: block;
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px 0px;
	overflow: hidden;
}
div.userinfo a.logout {
	background-color: #80a2af;
	padding: 10px 20px;
	margin: 0px;
}
div.userinfo a.login {
	background-color: #80a2af;
	padding: 10px 20px;
	margin: 0px;
}
div.userinfo span {
	padding: 0px 10px;
	text-transform: uppercase;
}
div.message span.title {
	color: #000;
}
div.message span.body {
	color: #888;
	font-size: 12px;
}
ul.songlist {
	background-color: rgba(255, 255, 255, 0.24);
	padding: 10px 0px;
	margin: 30px 0px;
	border-radius: 5px;
}
li.songlink, li.header {
	margin: 10px 20px;
	padding: 10px 14px;
	border-radius: 3px;
}
li.header {
	background-color: rgba(255, 255, 255, 0.4);
	border-bottom: 5px solid #80a2af;
}
li.songlink {
	background-color: rgba(255, 255, 255, 0.4);
	border-left: 5px solid #80a2af;
}
li.header div {
	width: 228px;
	text-transform: uppercase;
	font-size: 17px;
	text-align: center;
	font-weight: 400;
}
li.songlink div {
	width: 228px;
}
input, textarea {
	background-color: transparent;
	border-width: 0px 0px 1px;
	color: #FFF;
}
input {
	padding: 10px 20px;
	font-size: 12px;
	width: 260px;
	background-color: transparent;
	border-width: 0px 0px 1px;
	color: #FFF;
}
::-webkit-input-placeholder {
   color: #FFF;
}
:-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}
:-ms-input-placeholder {  
   color: #FFF;  
}
button {
	padding: 10px 20px;
	font-size: 14px;
	background-color: #ae72ab;
	background-image: none;
	border: 0px none;
	color: #FFF;
}
.abutton {
	color: #FFF;
	background-color: #ae72ab;
	padding: 10px 20px;
	font-size: 14px;
	margin: 10px;
	display: inline-block;
	float: right;
}
button:ng-disabled {
	color: #999;
	background-color: #AAA;
}
textarea {
	margin: 2px 0px;
	padding: 10px 20px;
	font-family: Avenir;
	font-weight: 100;
	font-style: normal;
	font-size: 12px;
	resize: none;
}

de-notification {
	display: inline-block;
	position: fixed;
	right: 0px;
	top: 0px;
	margin: 60px 0px;
}
div.loginWindow {
	border: 1px solid #ae72ab;
	margin: 100px auto;
	width: 380px;
	display: block;
	text-align: center;
	padding: 20px 0px;
	box-shadow: 0 3px 10px rgba(95, 144, 146, 0.63);
	background-color: #96becd;
	color:#FFF;
	border-radius: 10px;
}
div.logo {
	height: 80px;
	line-height: 80px;
	background-image: url("../images/logo.jpg");
	background-size: 80px 80px;
	background-repeat: no-repeat;
	margin: 10px;
	padding-left: 100px;
	padding-bottom: 40px;
	font-size: 20px;
}
.singleLine{
	text-align: center;
}
.singleLine input, .singleLine textarea {
	display: block;
	margin: 4px auto;
	width: 600px;
}
.singleLine textarea {
	height: 400px;
}
div.body {
	width: 100%;
	margin: 0px auto;
	padding: 20px 0px;
	text-align: center;
}
.songform {
	background-color: #96becd;
	border: 1px solid #ae72ab;
	border-radius: 10px;
	width:auto;
	/*border:1px solid #000;*/
	margin: 0px auto;
	display: inline-block;
	padding:20px;
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
	color: #FFF;
}
.artist {
	font-weight: 600;
	font-size: 16px;
}

.column {
	float: left;
	max-width: 50%;
	padding: 0px 5px;
}

.rightJustify {
	text-align: right;
}
textarea.comment {
	width: 100%;
	height: 100px;
	display: block;
}



/* when hiding the thing */
.ng-hide-add         { 
  -webkit-animation:0.5s lightSpeedOut ease; 
  animation:0.5s lightSpeedOut ease; 
}

/* when showing the thing */
.ng-hide-remove      { 
  -webkit-animation:0.5s flipInX ease; 
  animation:0.5s flipInX ease; 
}

/* ANIMATIONS (FROM ANIMATE.CSS) */

/* flip in */
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}